---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CookieBanner from "../components/CookieBanner.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Govrn - Simplify Board Management Like Never Before. A smart platform to centralize your documents, automate tasks, and enhance collaboration.",
  image = "/default_sharing_meta.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-eu1.hs-scripts.com/144285821.js"></script>
    <!-- End of HubSpot Embed Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>
  <body class="min-h-screen bg-white">
    <Header />
    <slot />
    <Footer />
    <CookieBanner />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ML9SBCS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>

<style is:global>
  :root {
    --accent: 37, 99, 235;
    --accent-light: 96, 165, 250;
    --accent-dark: 30, 58, 138;
  }
  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
</style>
